.privacy-policy {
    margin: 30px auto;
    padding: 20px 0px;
    width: inherit;
    background-color: white;
}

.privacy-policy h1 {
    margin: 15px;
    padding: 5px 20px;
}

.privacy-policy h2 {
    margin: 15px;
    padding: 5px 20px;
}

.privacy-policy h3 {
    margin: 15px;
    padding: 5px 20px;
}

.privacy-policy p {
    margin: 15px;
    padding: 0px 20px;
    font-size: normal;
    line-height: 25px;
}

.privacy-policy a {
    text-decoration: none;
    color:dodgerblue;
}

.privacy-policy ul {
    margin: 0px 45px;
}